*{
	padding:0;
	margin:0;
}

body, html{
	width:100%;
	height:100%;
}
/* à personnaliser vous-mêmes */
#ManagementScroll{
	border:1px solid black;
	width:100%;
	height:50%;
	overflow:hidden;
}

.buttscroll{
	width:100px;
	height:100px;
}

.blue{
	background-color:blue;
}

.green{
	background-color:green;
}

.red{
	background-color:red;
}

.purple{
	background-color:purple;
}